
@font-face {
    font-family: 'Gibson';
    src: local('Gibson'),
        url('Gibson.woff2') format('woff2'),
        url('Gibson.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gibson';
    src: local('Gibson SemiBold'), local('Gibson-SemiBold'),
        url('Gibson-SemiBold.woff2') format('woff2'),
        url('Gibson-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: local('Gibson Bold'), local('Gibson-Bold'),
        url('Gibson-Bold.woff2') format('woff2'),
        url('Gibson-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'FreightBigProBook';
    src: local('☞FreightBig Pro Book'), local('FreightBigProBook-Regular'),
        url('FreightBigProBook-Regular.woff2') format('woff2'),
        url('FreightBigProBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FreightBigProBook';
    src: local('☞FreightBig Pro Book Italic'), local('FreightBigProBook-Italic'),
        url('FreightBigProBook-Italic.woff2') format('woff2'),
        url('FreightBigProBook-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FreightBigProMedium';
    src: local('☞FreightBig Pro Medium'), local('FreightBigProMedium-Regular'),
        url('FreightBigProMedium-Regular.woff2') format('woff2'),
        url('FreightBigProMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'FreightBigProMedium';
    src: local('☞FreightBig Pro Medium Italic'), local('FreightBigProMedium-Italic'),
        url('FreightBigProMedium-Italic.woff2') format('woff2'),
        url('FreightBigProMedium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FreightBigProLight';
    src: local('☞FreightBig Pro Light'), local('FreightBigProLight-Regular'),
        url('FreightBigProLight-Regular.woff2') format('woff2'),
        url('FreightBigProLight-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FreightBigProLight';
    src: local('☞FreightBig Pro Light Italic'), local('FreightBigProLight-Italic'),
        url('FreightBigProLight-Italic.woff2') format('woff2'),
        url('FreightBigProLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'FreightBigProBold';
    src: local('☞FreightBig Pro Bold Italic'), local('FreightBigProBold-Italic'),
        url('FreightBigProBold-Italic.woff2') format('woff2'),
        url('FreightBigProBold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FreightBigProBold';
    src: local('☞FreightBig Pro Bold'), local('FreightBigProBold-Regular'),
        url('FreightBigProBold-Regular.woff2') format('woff2'),
        url('FreightBigProBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

