.topbutton {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: $color__white;
    color: $color__black;
    width: 5rem;
    height: 5rem;
    @include flex-center;
    font-size: 2rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    transition: all 0.3s;
    border-radius: .5rem;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;

    &.btn-show {
        visibility: visible;
        opacity: 1;
    }
}