// Css Color Variable
$color__black: #000000;
$color__white: #FFFFFF;
$color__body: #1F2933;
$color__theme: #3E64FF;
$color__secondary: #E00011;


// Font Variable
$font__primary : 'Plus Jakarta Sans', sans-serif;
$font__secondary : 'DM Sans', sans-serif;