// Css Color Variable
$color__black: #000000;
$color__white: #FFFFFF;
$color__body: #091916;
$color__theme: #C65A24;
$color__secondary: #A4832C;


// Font Variable
$font__primary : 'Gibson', sans-serif;
$font__freight_light : 'FreightBigProLight', sans-serif;
$font__freight_medium : 'FreightBigProMedium', sans-serif;
$font__freight_bold : 'FreightBigProBold', sans-serif;
$font__freight_book : 'FreightBigProBook', sans-serif;