header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1024;
    background-color: rgba($color__white, .85);
    transition: all .25s ease;

    &.sticky {
        box-shadow: 0 0 1.5rem 0 rgba($color__black, .3);
        background-color: rgba($color__white, .95);
    }
    .left-block {
        a {
            display: inline-block;
            user-select: none;
            padding: 2rem 0;
        }
    }
    .center-block {
        text-align: center;
        font: italic 4.4rem/normal $font__freight_book;
        color: $color__secondary;
        user-select: none;
    }
    .right-block {
        display: flex;
        align-items: center;
        gap: 2rem;

        .menu {
            display: flex;            

            li {
                line-height: normal;
                & + li {
                    &::before {
                        content: '|';
                        display: inline-block;
                        color: $color__theme;
                        margin: 0 1rem;
                    }
                }
            }
            a {
                transition: all .2s;
                font-size: 1.4rem;
                &:hover {
                    color: $color__theme;
                }
            }
        }
    }
}