header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1024;
    background-color: rgba($color__white, .85);
    transition: all .25s ease;

    .left-block {
        a {
            display: inline-block;
            user-select: none;
            padding: 2rem;
        }
    }
}