.hero {
    .slider-img {
        min-height: 80rem;
        background-size: cover;
        background-position: center;
    }
}

.availability_form {
    padding: 5rem 0;
    background-color: #F7F4EF;
}
.intro_section {
    padding: 10rem 0;

    .intro-text {
        margin-bottom: 10rem;
        p {
            font-size: 2.3rem;
            max-width: 55rem;
            margin: 4rem auto 0;
            line-height: 1.4;
            font-family: $font__freight_book;
        }
    }

    .intro-column {
        overflow: hidden;
        .row {
            --bs-gutter-x: 5rem;
        }
    }
}
.accomodation {
    position: relative;
    z-index: 1;
    padding: 10rem 0;
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(#2B1719, .7);
        z-index: -1;
    }
}


.dining {
    &_item {
        text-align: center;
    }
}

.areas_activity {

}

.events {
    position: relative;
    z-index: 1;
    padding: 10rem 0;
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(#2B1719, .7);
        z-index: -1;
    }
}